/* -----------------------------------
Basic rules
----------------------------------- */

body
{
	margin: 0;
	padding: 20px;
	color: #000;
	background: #fff;
	font: 100%/1.4 helvetica, arial, sans-serif;
}

.content
{
	max-width: 600px;
	_width: 600px;
	background: lime;
}

/* -----------------------------------
Video
----------------------------------- */

