/* base rules */
body
{
	margin: 0;
	padding: 20px;
	color: #000;
	background: #fff;
	font-size: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	line-height: 1.4;
}

h1
{
	margin: 0 0 .5em;
	line-height: 1;
}

p { margin-top: 0; }

.container
{
	max-width: 770px;
	margin: 0 auto;
}

/* responsive background image */
.responsive-image
{
	width: 100%;
	padding-bottom: 57.5%;
	background-image: url(background-image.jpg);
	background-size: cover;
	background-position: center;
}
